
table {
    width: 600px;
    background-image: linear-gradient(#27a769, #1c7449, #214031);
}

caption {
    color: rosybrown;
    font-size: xx-large;
    font-family: "lucida handwriting";
}

th {
    text-align: center;
    background-color: darkgrey;
}

td {
    
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
}

h1 {
    font-family: papyrus;
    color: rosybrown;
    font-size: xxx-large;
}

body {
    background: url(forest.jpg) no-repeat center center fixed;
    background-size: cover;

}

.cat {
    /*border-radius: 50%;*/
}